/******** SECCIÓN DE RESERVAS *******/

/* Estilos de la descripción de los servicios */

.seccion_servicios .titulo-form {
  padding-bottom: 3rem;
  font-size: 2rem; /* Tamaño grande para llamar la atención */
  font-family: 'Consolas', sans-serif;
  color: var(--negro); /* Color anaranjado */
  text-transform: uppercase; /* Convertir texto en mayúsculas */
  letter-spacing: 0.2rem; /* Espaciado entre letras */
  text-align: center; /* Alineación del título al centro */
}

.lista-servicios {
  width: 50%;
  margin: 0 auto 8rem; /* top, right and left, bottom */
}

#camara {
  width: 6rem; /* Ancho de 60px */
  height: 5rem; /* Altura de 50px */
}

.lista-servicios .parrafo-servicio {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem 3rem;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#parrafo-hotel {
  margin-left: 1rem;
}

#parrafo-peluqueria {
  margin-left: 3.4rem;
}

#parrafo-fotos {
  margin-left: 2.2rem;
}



/******** FORMULARIO DE CONTACTO *******/

/* Estilos para el formulario de la reserva: */
#formulario {
  background-color:var(--primario); /* Color de fondo naranja */
  padding: 2rem; /* Espaciado interno */
  border-radius: 2rem; /* Bordes redondeados */
  width: 30%; /* Ancho del formulario */
  margin: 0 auto; /* Margen derecho para separar del borde derecho */
}

#formulario h3 {
  font-family: 'Consolas', sans-serif;
  text-transform: uppercase; /* Convertir texto en mayúsculas */
  letter-spacing: 0.2rem; /* Espaciado entre letras */
}

#formulario p {
  margin: 2rem 0 3.5rem; /* top, right and left, bottom */
}

#formulario input {
  margin-bottom: 2rem;
}

#formulario input,
#formulario textarea {
  width: 90%; /* Ancho completo */
  padding: 1rem; /* Espaciado interno */
  border-radius: 0.5rem; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde gris */
  display: flex;
  align-items: center;
}

/*#opciones-servs label {
  display:inline-flex;
}*/

#opciones-servs :first-child {
  margin-top: 1rem;
}

#opciones-servs label, input{
  vertical-align: middle;	     /* input alineado verticalmente con label */
  
  padding: 0;
}

fieldset button {
  background-color: var(--negro); /* Color de fondo negro */
  color: var(--blanco); /* Color de texto blanco */
  border: none; /* Quitamos el borde */
  border-radius: 0.5rem; /* Bordes redondeados */
  padding: 1rem 3rem; /* Espaciado interno */
  cursor: pointer; /* Cursor de tipo puntero */
  display: block;
  margin: 2rem auto 0; /* Centramos el boton */
}

fieldset button:hover {
  background-color: #414040; /* Cambio de color al pasar el cursor */
}

