/* Estilos para el título H2 de la página */
h2{
    text-align: center;
    background-color: var(--negro);
    color: white;
    text-transform: uppercase;
}

/* Alinear subtítulos h3 y el último párrafo */
h3, .terminos p:last-child {
  text-align: center;
}
/* Estilos general de los términos y condiciones: tanto contenedor como texto dentro */
.terminos {
    text-align: justify;
    border: 2px solid #ccc; /* Color y grosor del borde */
    border-radius: 10px; /* Radio de los bordes */
    padding: 2em 2em; /* Espaciado interno */
    margin: 2em 8em; /* Espaciado externo */
    background-color: #f9f9f9; /* Color de fondo */
}

/*  ************HEADER Y NAVEGACIÓN RESPONSIVE********** */

/* Estilos generales para el header y el navegador */
@media screen and (min-width: 480px) and (max-width: 1024px ) {
  /* Ajustes para pantallas de 480px a 1024px de ancho */

  /* Header */
  .marca {
    padding: 2rem;
  }

  .titulo {
    font-size: 4rem;
  }

  #slogan {
    font-size: 1.2rem;
  }

  #logo {
    max-width: 20rem;
  }

  .menu-idioma img {
    width: 2.5rem;
  }

  /* Navegador */
  .navegador ul {
    flex-direction: column; /* Cambiar a disposición vertical */
  }

  .navegador ul li {
    margin: 1rem 0; /* Espacio entre elementos */
  }

  .navegador ul li a {
    padding: 1rem 0; /* Reducir relleno vertical */
  }
}

@media screen and (max-width: 480px) {
  /* Ajustes para pantallas de hasta 480px de ancho */

  /* Header */
  .marca {
    padding: 1rem;
  }

  .titulo {
    font-size: 3rem;
  }

  #slogan {
    font-size: 1rem;
  }

  #logo {
    max-width: 15rem;
  }

  .menu-idioma img {
    width: 2rem;
  }
  /* Navegador */
  .navegador ul {
    flex-direction: column; /* Cambiar a disposición vertical */
  }

  .navegador ul li {
    margin: 1rem 0; /* Espacio entre elementos */
  }

  .navegador ul li a {
    padding: 1rem 0; /* Reducir relleno vertical */
  }
}
